@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

$font-title: 'Roboto', sans-serif;
$font-sans: 'Open Sans', sans-serif;

/* UI */

button {
  background-color: #5EDDB6;
  border-color: #5AB89B;
  &:hover {
    background-color: #5AB89B;
  }
}

hr {
  border: 0;
  height: .1rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

/* MENU */

nav {
  background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  position: fixed;
  width: 100%;
  h1 {
    float: left;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 3.6;
  }
  ul {
    float: right;
    margin-right: 3rem;
    li {
      display: inline;
      a {
        padding: 1rem;
        font: $font-title;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        line-height: 3.6;
      }
    }
  }
}

.logo {
  float: left;
  margin-left: 3rem;
  i {
    color: rgba(255, 255, 255, 0.8);
    line-height: .2rem;
    padding-right: .5rem;
  }
}


/* HERO */

header {
  background-image: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/header-bg.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;

  .line {
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    width: 900px;
    text-align: center;
    margin: 0px auto;
  }
  h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font-sans;
    font-weight: 600;
    font-size: 3.4rem;
    margin: 0 auto;
    padding: 0;
  }
  p {
    line-height: 1.8;
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 46rem;
    text-align: center;
    color: #fff;
    font-family: $font-sans;
  }
}

.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* SECTIONS */

.content {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* intro */

#intro {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: #5EDDB6;

  h2 {
  font-family: $font-title;
  font-size: 2rem;
  color: #f2fffa;
  padding-bottom: 1rem;
  }
  p {
    margin: 0 auto;
    max-width: 45rem;
    padding-top: 1rem;
    color: #ceffef;
    font-family: $font-title;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  span {
    display: block;
    width: 5rem;
    height: 5rem;
    border: 2px solid #ceffef;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
  }
  i {
    color: #ceffef;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    padding-top: .2rem;
  }
}

.intro-icons {
  margin-top: 3.8rem;
  margin-bottom: 6rem;
  max-width: 50rem;
}

/* services */

#services {
  h2 {
    margin-top: 2rem;
    color: #575757;
    font-family: $font-title;
  }
  p {
    font-family: $font-title;
    color: #575757;
  }
}

.ipad {
  width: 23rem;
  margin-top: -12.6rem;
}
